/*!Last Updated: 12/17/13:2:59 PM by Jonathan Robles*/

/*!***********************************************/
/*!                                              */
/*! flexibleregulatory LESS/CSS File                   */
/*! Start Date: 12/17/13 : 2:59 PM                */
/*!                                              */
/*!***********************************************/

/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT END

//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@highlight:#04a036;

@app_bg: #ededed;
@app_width: 630px;
@app_height: 625px;

@zindex_L: 100;
@zindex_ML: 175;
@zindex_M: 200;
@zindex_MH: 225;
@zindex_H: 300;

@images-url: "img/";
//usage: @{images-url}
@sprite_x_offset: -100px;
@sprite_y_offset: -100px;

//IMPORTS
@import "../css/globalCSS.less";
//imported superjonbot mixins, usage: #sjbm > .xxx;
.disable{
  #sjbm >.disablethis;
}

.select{
  #sjbm >.selectthis;
}

/*.showapp{
  opacity:1;
}*/
//BEGIN CSS


#app-main {
  opacity:0;
  #sjbm > .showthis;
  position:absolute;
  font: @global_font;
  font-weight: 300;
  z-index: @zindex_M;
  background-color: @app_bg;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  overflow: hidden;
  >.top-left{
    z-index: @zindex_M;
    position:absolute;
    background-color: #cbef50;
    top:0px;
    bottom:0px;
    right:50%;
    left:0px;
    .logo{
      position:absolute;
      background-color: #ccc;
      top:0px;
      left:0px;
      right:0px;
      height:40px;
      font-size: 15px;
      padding-left: 20px;
      padding-top: 12px;
      p{
        margin: 0px;
      }
    }
    .nav{
      #sjbm >.boxsize;
      position:absolute;
      background-color: #666;
      border-right: 1px solid #555;;
      bottom:0px;
      left:0px;
      right:0px;
      height:40px;
      >button{
        #sjbm >.quickbutton(9.5px);
        font-size: 11px;
        margin-top:3px;
      }
    }
    .information{
      z-index: @zindex_M;
      position:absolute;
      background-color: #4a8bdd;
      bottom:40px;
      left:0px;
      right:0px;
      top:40px;
      >div{
        background-color: #fff;
        position:absolute;
        top:0px;
        bottom:0px;
        left:0px;
        right:0px;
        overflow:auto;

        #sjbm >.boxsize;
        padding:20px;
        font:@global_boldfont;
        font-weight: bold;
        font-size: 65px;
        color: #ddd;
        line-height: 50px;
      }
    }
  }
  >.bot-right{
    overflow:hidden;
    z-index: @zindex_ML;
    //display:none;
    position:absolute;
    background-color: #ffb955;
    top:0px;
    bottom:0px;
    right:0px;
    left:50%;
    .prev{
      position:absolute;
      z-index: @zindex_M;
      top:50%;
      left:0px;
      #sjbm >.halCircleRight (100px);
      background: rgba(255, 255, 255, 0.63) url('flexibleregulatory/left-arrow.png') no-repeat center left;
    }
    .next{
      position:absolute;
      z-index: @zindex_M;
      top:50%;
      right:0px;
      #sjbm >.halCircleLeft (100px);
      background: rgba(255, 255, 255, 0.63) url('flexibleregulatory/right-arrow.png') no-repeat center right;
    }
    .nav{
      position:absolute;
      background-color: #666;
      bottom:0px;
      left:0px;
      right:0px;
      height:40px;
      >button{
        #sjbm >.quickbutton(9.5px);
        position:absolute;
        width:60px;
        font-size: 11px;
        margin-top:3px;
        &:nth-child(1){
          left:5px;
        }
        &:nth-child(2){
          margin-left:-25px;

          left:50%;
        };
        &:nth-child(3){
          right:5px;
        };

      }
    }
    .slides{
      z-index: @zindex_L;
      position:absolute;
      //background-color: #a74add;
      bottom:40px;
      left:0px;
      right:0px;
      top:0px;
      >div{

        padding:20px;
        font:@global_boldfont;
        font-weight: bold;
        font-size: 75px;
        color: rgba(0,0,0,.2);
        #sjbm >.boxsize;

        height:100%;
        width:100%;
        &:nth-child(1){
                  background-color: #e9967a;
        }
        &:nth-child(2){
          background-color: #e9b47a;
        }
        &:nth-child(3){
          background-color: #e9cb7a;
        }
        &:nth-child(4){
          background-color: #e9e17a;
        }
        &:nth-child(5){
          background-color: #d3e276;
        }
        &:nth-child(6){
          background-color: #8bd771;
        }







      }
    }
  }
  >.menu{
    z-index: @zindex_L;
    position:absolute;
    background-color: #ffb955;
    top:0px;
    bottom:0px;
    right:0px;
    left:50%;

  }
  >.share{
   // #sjbm >.hidethis;
    position:absolute;
    z-index: @zindex_H;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    background-color: rgba(8, 10, 255, 0.47);
    >div{
      #sjbm >.boxthis(300px,300px,10px,20px,1px,#666);
      padding-top: 5px;
      position:absolute;
      left:50%;
      margin-left:-150px;
      top:50%;
      margin-top:-150px;
      background-color: #bbb;
      >p{
        font:@global_boldfont;
        font-weight: bold;
        font-size: 30px;
        color: #ffffff;
        margin-bottom: 15px;
      }
      >button{
        #sjbm >.quickbutton(12px);
        margin-top: 5px;
        display:block;
        width:100%;
      }
    }
  }



}

.portrait{
  #app-main{
    >.top-left{
      top:0px;
      right:0px;
      bottom:50%;
      left:0px;
    }
    >.bot-right{
      bottom:0px;
      right:0px;
      top:50%;
      left:0px;
    }
    >.menu{
      bottom:0px;
      right:0px;
      top:50%;
      left:0px;

    }
  }
}

#debug {
  #sjbm > .hidethis;
}

//mobile/tablet specific
.touch {
  #app-main {




  }
}

//desktop specific
.no-touch {
  #app-main {
  }
}

//oldIE
.oldie {
  #app-main {
  }
}

//END CSS