/*!Last Updated: 12/17/13:2:59 PM by Jonathan Robles*/
/*!***********************************************/
/*!                                              */
/*! flexibleregulatory LESS/CSS File                   */
/*! Start Date: 12/17/13 : 2:59 PM                */
/*!                                              */
/*!***********************************************/
/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*!***********************************************/
/*!                                              */
/*! GLOBAL LESS/CSS File                         */
/*! superjonbot mixins (sjbm) by Jonathan Robles */
/*!                                              */
/*!***********************************************/
#sjbm .showthis {
  display: block !important;
}
#sjbm .hidethis {
  display: none !important;
}
#sjbm .disablethis {
  opacity: .2 !important;
  background-color: #262626 !important;
}
#sjbm .disablethis:hover,
#sjbm .disablethis:active {
  background-color: #262626 !important;
}
#sjbm .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#sjbm .clearfix {
  display: inline-block;
}
#sjbm * html .clearfix {
  height: 1%;
}
#sjbm .clearfix {
  display: block;
}
#sjbm .boxsize {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#sjbm .inlinelist {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: text-bottom;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
ol,
ul {
  list-style: none;
}
.disable {
  opacity: .2 !important;
  background-color: #262626 !important;
}
.disable:hover,
.disable:active {
  background-color: #262626 !important;
}
.select {
  opacity: 1 !important;
  background-color: #04a036 !important;
}
.select:hover,
.select:active {
  background-color: #04a036 !important;
}
/*.showapp{
  opacity:1;
}*/
#app-main {
  opacity: 0;
  display: block !important;
  position: absolute;
  font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  z-index: 200;
  background-color: #ededed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  overflow: hidden;
}
#app-main > .top-left {
  z-index: 200;
  position: absolute;
  background-color: #cbef50;
  top: 0px;
  bottom: 0px;
  right: 50%;
  left: 0px;
}
#app-main > .top-left .logo {
  position: absolute;
  background-color: #ccc;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
  font-size: 15px;
  padding-left: 20px;
  padding-top: 12px;
}
#app-main > .top-left .logo p {
  margin: 0px;
}
#app-main > .top-left .nav {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: absolute;
  background-color: #666;
  border-right: 1px solid #555;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
}
#app-main > .top-left .nav > button {
  padding: 9.5px 10px;
  border: 1px solid #aaa;
  -webkit-border-radius: 10px 0px;
  -moz-border-radius: 10px 0px;
  -ms-border-radius: 10px 0px;
  -o-border-radius: 10px 0px;
  border-radius: 10px 0px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  /*text-shadow: 0px 1px 2px rgba(000,000,000,0.7);*/
  text-decoration: none;
  font-size: 11px;
  margin-top: 3px;
}
#app-main > .top-left .nav > button:hover,
#app-main > .top-left .nav > button:active {
  background-color: #04a036;
}
#app-main > .top-left .information {
  z-index: 200;
  position: absolute;
  background-color: #4a8bdd;
  bottom: 40px;
  left: 0px;
  right: 0px;
  top: 40px;
}
#app-main > .top-left .information > div {
  background-color: #fff;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  overflow: auto;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 20px;
  font: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 65px;
  color: #ddd;
  line-height: 50px;
}
#app-main > .bot-right {
  overflow: hidden;
  z-index: 175;
  position: absolute;
  background-color: #ffb955;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 50%;
}
#app-main > .bot-right .prev {
  position: absolute;
  z-index: 200;
  top: 50%;
  left: 0px;
  border: 1px solid #aaaaaa;
  height: 100px;
  width: 50px;
  border-radius: 0 100px 100px 0;
  -moz-border-radius: 0 100px 100px 0;
  -webkit-border-radius: 0 100px 100px 0;
  background-color: #cccccc;
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.63) url('flexibleregulatory/left-arrow.png') no-repeat center left;
}
#app-main > .bot-right .prev:hover,
#app-main > .bot-right .prev:active {
  background-color: #cccccc;
}
#app-main > .bot-right .next {
  position: absolute;
  z-index: 200;
  top: 50%;
  right: 0px;
  border: 1px solid #aaaaaa;
  height: 100px;
  width: 50px;
  border-radius: 100px 0 0 100px;
  -moz-border-radius: 100px 0 0 100px;
  -webkit-border-radius: 100px 0 0 100px;
  background-color: #cccccc;
  margin-top: -50px;
  background: rgba(255, 255, 255, 0.63) url('flexibleregulatory/right-arrow.png') no-repeat center right;
}
#app-main > .bot-right .next:hover,
#app-main > .bot-right .next:active {
  background-color: #cccccc;
}
#app-main > .bot-right .nav {
  position: absolute;
  background-color: #666;
  bottom: 0px;
  left: 0px;
  right: 0px;
  height: 40px;
}
#app-main > .bot-right .nav > button {
  padding: 9.5px 10px;
  border: 1px solid #aaa;
  -webkit-border-radius: 10px 0px;
  -moz-border-radius: 10px 0px;
  -ms-border-radius: 10px 0px;
  -o-border-radius: 10px 0px;
  border-radius: 10px 0px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  /*text-shadow: 0px 1px 2px rgba(000,000,000,0.7);*/
  text-decoration: none;
  position: absolute;
  width: 60px;
  font-size: 11px;
  margin-top: 3px;
}
#app-main > .bot-right .nav > button:hover,
#app-main > .bot-right .nav > button:active {
  background-color: #04a036;
}
#app-main > .bot-right .nav > button:nth-child(1) {
  left: 5px;
}
#app-main > .bot-right .nav > button:nth-child(2) {
  margin-left: -25px;
  left: 50%;
}
#app-main > .bot-right .nav > button:nth-child(3) {
  right: 5px;
}
#app-main > .bot-right .slides {
  z-index: 100;
  position: absolute;
  bottom: 40px;
  left: 0px;
  right: 0px;
  top: 0px;
}
#app-main > .bot-right .slides > div {
  padding: 20px;
  font: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 75px;
  color: rgba(0, 0, 0, 0.2);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  height: 100%;
  width: 100%;
}
#app-main > .bot-right .slides > div:nth-child(1) {
  background-color: #e9967a;
}
#app-main > .bot-right .slides > div:nth-child(2) {
  background-color: #e9b47a;
}
#app-main > .bot-right .slides > div:nth-child(3) {
  background-color: #e9cb7a;
}
#app-main > .bot-right .slides > div:nth-child(4) {
  background-color: #e9e17a;
}
#app-main > .bot-right .slides > div:nth-child(5) {
  background-color: #d3e276;
}
#app-main > .bot-right .slides > div:nth-child(6) {
  background-color: #8bd771;
}
#app-main > .menu {
  z-index: 100;
  position: absolute;
  background-color: #ffb955;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 50%;
}
#app-main > .share {
  position: absolute;
  z-index: 300;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: rgba(8, 10, 255, 0.47);
}
#app-main > .share > div {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 20px;
  width: 300px;
  height: 300px;
  border: 1px solid #666666;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
  padding-top: 5px;
  position: absolute;
  left: 50%;
  margin-left: -150px;
  top: 50%;
  margin-top: -150px;
  background-color: #bbb;
}
#app-main > .share > div > p {
  font: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: bold;
  font-size: 30px;
  color: #ffffff;
  margin-bottom: 15px;
}
#app-main > .share > div > button {
  padding: 12px 10px;
  border: 1px solid #aaa;
  -webkit-border-radius: 10px 0px;
  -moz-border-radius: 10px 0px;
  -ms-border-radius: 10px 0px;
  -o-border-radius: 10px 0px;
  border-radius: 10px 0px;
  background-color: #ccc;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  /*text-shadow: 0px 1px 2px rgba(000,000,000,0.7);*/
  text-decoration: none;
  margin-top: 5px;
  display: block;
  width: 100%;
}
#app-main > .share > div > button:hover,
#app-main > .share > div > button:active {
  background-color: #04a036;
}
.portrait #app-main > .top-left {
  top: 0px;
  right: 0px;
  bottom: 50%;
  left: 0px;
}
.portrait #app-main > .bot-right {
  bottom: 0px;
  right: 0px;
  top: 50%;
  left: 0px;
}
.portrait #app-main > .menu {
  bottom: 0px;
  right: 0px;
  top: 50%;
  left: 0px;
}
#debug {
  display: none !important;
}
