/*!***********************************************/
/*!                                              */
/*! GLOBAL LESS/CSS File                         */
/*! superjonbot mixins (sjbm) by Jonathan Robles */
/*!                                              */
/*!***********************************************/
#sjbm .showthis {
  display: block !important;
}
#sjbm .hidethis {
  display: none !important;
}
#sjbm .disablethis {
  opacity: .2 !important;
  background-color: #262626 !important;
}
#sjbm .disablethis:hover,
#sjbm .disablethis:active {
  background-color: #262626 !important;
}
#sjbm .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#sjbm .clearfix {
  display: inline-block;
}
#sjbm * html .clearfix {
  height: 1%;
}
#sjbm .clearfix {
  display: block;
}
#sjbm .boxsize {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#sjbm .inlinelist {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: text-bottom;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
ol,
ul {
  list-style: none;
}
