/*!***********************************************/
/*!                                              */
/*! GLOBAL LESS/CSS File                         */
/*! superjonbot mixins (sjbm) by Jonathan Robles */
/*!                                              */
/*!***********************************************/

#sjbm {
  //START SJBM
  .showthis {
    display: block !important;

  }
  .hidethis {
    display: none !important;
  }

  .disablethis {
    opacity: .2 !important;
    background-color: #262626 !important;
    &:hover, &:active {
      background-color: #262626 !important;
    }
  }

  .selectthis(@highlight:#04a036) {
    opacity: 1 !important;
    background-color: @highlight !important;
    &:hover, &:active {
      background-color: @highlight !important;
    }
  }



  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }
  .clearfix {
    display: inline-block;
  }
  // start commented backslash hack
  * html .clearfix {
    height: 1%;
  }
  .clearfix {
    display: block;
  }
  // close commented backslash hack

  .boxsize {
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box; /* Firefox, other Gecko */
    box-sizing: border-box; /* Opera/IE 8+ */
  }

  .border-radius (@radius: 5px) {
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
    -ms-border-radius: @radius;
    -o-border-radius: @radius;
    border-radius: @radius;
  }
  .border-radius-tech (@radiusA: 10px,@radiusB: 0px) {
    -webkit-border-radius: @radiusA @radiusB;
    -moz-border-radius: @radiusA @radiusB;
    -ms-border-radius: @radiusA @radiusB;
    -o-border-radius: @radiusA @radiusB;
    border-radius: @radiusA @radiusB;
  }

  .box-shadow (@x: 4px;@y: 4px;@blur: 11px;@color: rgba(0, 0, 0, 0.38)) {
    box-shadow: @arguments;
    -moz-box-shadow: @arguments;
    -webkit-box-shadow: @arguments;
  }

  .box-shadow-inset (@x: 3px;@y: 3px;@blur: 6px;@color: rgba(0, 0, 0, 0.3)) {
    box-shadow: inset @arguments;
    -moz-box-shadow: inset @arguments;
    -webkit-box-shadow: inset @arguments;
  }

  .boxthis(@width:500px,@height:500px,@radius:20px,@padding:10px,@border:1px,@bordercolor:#000) {
    .boxsize;
    padding: @padding;
    width: @width;
    height: @height;
    border: @border solid @bordercolor;
    .border-radius(@radius);

  }

.halCircleRight (@size:60px,@border:1px,@color:#ccc,@bordercolor:#aaa,@highlight:#ccc) {
  border: @border solid @bordercolor;
  height:@size;
  width:( @size / 2 );
  border-radius: 0 @size @size 0;
  -moz-border-radius: 0 @size @size 0;
  -webkit-border-radius:  0 @size @size 0;
  background-color: @color;
  margin-top: -(@size / 2);
  &:hover,&:active{
    background-color:@highlight;// !important;
    //  .gradient(#35646c,#5aa1ae);
  }
}
.halCircleLeft (@size:60px,@border:1px,@color:#ccc,@bordercolor:#aaa,@highlight:#ccc) {
  border: @border solid @bordercolor;
height:@size;
  width:( @size / 2 );
  border-radius:  @size 0 0 @size ;
  -moz-border-radius:  @size 0 0 @size ;
  -webkit-border-radius:   @size 0 0 @size ;
  background-color: @color;
  margin-top: -(@size / 2);
  &:hover,&:active{
    background-color:@highlight ;//!important;
    //  .gradient(#35646c,#5aa1ae);
  }
}

.inlinelist {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: text-bottom;

}

.gradient(@color1:#aac349,@color2:#87a033) {
  background: @color1;
  background: -moz-linear-gradient(top, @color1 0%, @color2 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,@color1), color-stop(100%,@color2));
  background: -webkit-linear-gradient(top, @color1 0%,@color2 100%);
  background: -o-linear-gradient(top, @color1 0%,@color2 100%);
  background: -ms-linear-gradient(top, @color1 0%,@color2 100%);
  background: linear-gradient(to bottom, @color1 0%,@color2 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@color1', endColorstr='@color2', GradientType=0);
}

.quickbutton(@ypadding:5px,@xpadding:10px,@highlight:#04a036){
  padding: @ypadding @xpadding;
  border: 1px solid #aaa;
  .border-radius-tech ();
  background-color: #ccc;
  font-weight: bold;
  font-size: 17px;
  color: #ffffff;
  /*text-shadow: 0px 1px 2px rgba(000,000,000,0.7);*/
  text-decoration: none;

&:hover,&:active{
  background-color:@highlight;// !important;

}
  //  .gradient(#35646c,#5aa1ae);

};


.spinner() {

  -webkit-animation-name: rotate;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;

}

.perspective(@pixels:100px) {
  // -webkit-transform-style:preserve-3d;
  perspective: @pixels;
  -webkit-perspective: @pixels;
  -moz-perspective: @pixels;
}

.accel(){
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transform: translate3d(0,0,0);
  -moz-transform: translate3d(0,0,0);
  -ms-transform: translate3d(0,0,0);
  -o-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;

  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}

  .transform-style(@style:flat) {
    //place on container, flat or preserve-3d
  transform-style: @style;
  -webkit-transform-style: @style;
  -moz-transform-style: @style;
}

  .centerX() {
    position: absolute;
    left: 50%;
    -ms-transform: translate(-50%, 0%);
    -webkit-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
  }

  .centerY() {
    position: absolute;
    top: 50%;
    -ms-transform: translate(0%, -50%);
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }

  //960px,35px,35px); //@containerheight//@videoheight
  // ScreenWIDTH , padding of container, pixels to add to container height
  .returnVIDEOvalues(@thisscreenwidth:960px,@thispadding:35px,@addtovideo:35px){
    @videowidth: floor(@thisscreenwidth - (@thispadding*2));
    @videoheight: @videowidth/16*9;
    @containerheight: @videoheight+34;
  }





//END SJBM
  }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}



ol, ul {
  list-style: none;
}

