
/*!Last Updated: <inZertDATe> by Jonathan Robles*/



/*!***********************************************/
/*!  __  __        _                             */
/*! |  \/  |___ __| |___ __ __ _ _ __  ___       */
/*! | |\/| / -_) _` (_-</ _/ _` | '_ \/ -_)      */
/*! |_|  |_\___\__,_/__/\__\__,_| .__/\___|      */
/*!                             |_|              */
/*! PILL IDENTIFICATION TOOL CSS File    x        */
/*!                                              */
/*!***********************************************/


//fonts/proximanova/*. *?

/*!Last Updated: <inZertDATe> by Jonathan Robles*/



/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'),  url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'),  url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'),  url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'),  url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'),  url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'),  url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'),  url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'),  url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}





//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@app_bg: #ededed; //RG lightened
@app_width: 630px;
@app_height: 625px; //RG reduced from 630

@filtercontainer_height: 138px; //RG reduced from 140
@filter_def_bg: #005b81;
@filter_width: 108px;
@filter_height: 108px;

@statusbar_height:18px;

@resultcontainer_height: 438px;
@result_def_bg: #fff;
@result_width: 186px;
@result_height: 195px;

@zindex_L:1;
@zindex_M:2;
@zindex_H:3;

@images-url: "img/pill-identifier/";  //usage: @{images-url}



//MIXINS
//IMPORTED
//@import "globalCSS.less";     //imported mixins

//MIXINS namespace :  usage: #pillID_jrobles > .xxx;
#pillID_jrobles{

}


//GLOBAL
/*
body{
background: @global_bg;
font: @global_font;
font-weight: 300;
z-index:@zindex_L;
}
*/

//FRAME
#position{
  font: @global_font;
  font-weight: 300;
  z-index:@zindex_L;
  //text-decoration: underline;
  display: none;
  overflow: hidden;
  #logo{
    height:46px;
    width:176px;
    background: url(img/pill-identifier/misc.png) no-repeat -10px -6px;

  }

  .mobileclearallbutton{
    display:none;
  }

  #container{
    background-color: @app_bg;
    width: @app_width;
    height: @app_height;
    .border-radius(8px); //RG reduced from 10px
    //.box-shadow;
    border:1px solid #D4D4D4; //RG replaced CCC to match header border color


    #top-content{
      position:relative;
      #isXY{
        position:absolute;
        top:0px;
        left:0px;
        font: @global_boldfont;
        font-size: 90px;
        color:#ccc;
      }
      font: @global_boldfont;
      height: @filtercontainer_height;
      border-bottom:1px solid #ccc;
      //display:inline;

      .pillfilter{
        position: relative;
        .inlinelist;
        //background-color: @filter_def_bg;
        cursor: pointer;

        //.border-radius(10px);
        width: 110px; //RG increased from 108px @filter_width;
        height: @filter_height;
        //border:1px solid #ccc;
        margin: 15px 4px 15px 4px;

        &:nth-child(1){
          margin-left: 15px; //RG reduced from 16
        }

        .searchVal{
          font: @global_font;
          top:31px;
          color:#006a96;
          //background-color: #ccc;
          text-shadow: 2px 1px rgba(0,0,0,.3);
          width:100%;
          position:absolute;
          text-align: center;
          font-size: 16px;
        }

        div.clearfilter{
          z-index:@zindex_H;
          position: absolute;
          right:-13px;
          top:-13px;
          //background-color: #fff;
          //border:1px solid #ccc;
          height:28px;
          width:28px;
          //.border-radius(12px);
          text-align: center;
          cursor: pointer;
          background: url(img/pill-identifier/misc.png) no-repeat -375px -45px;
        }

        div.filter{
          z-index:@zindex_M;
          pointer-events:none;

          //filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src='your_transparent.png', sizingMethod='scale');
          //background:none !important;
          //background:white;
          //opacity:0;
          //filter:Alpha(opacity=0);

          position: absolute;
          top:7px;
          left:14px;
          height:80px;
          width:80px;

          background-color: rgba(0,0,0,0);
        }
        div.background{
          z-index:@zindex_L;
          cursor: pointer;
          .border-radius(10px);
          .box-shadow-inset;
          text-align: center;
          line-height: 197px;
          //font-weight: bold;
          color:#fff;
          font-size: 12px;

          top:0px;
          left:0px;
          height:100%;
          width:100%;
          .border-radius(10px);
          //background-color: #838383;

          text-transform: uppercase;

        }
        .selectedtab{
          //border:1px solid #000;
          background-color: #005a80;
          background-image: url(img/pill-identifier/filter-pattern.png);
          &:hover,&.hovered{
            background-color: #1576a0 !important;
            background-image: url(img/pill-identifier/filter-pattern.png);
          }
        }
        .notselectedtab{
          //border:1px solid #ccc;
          background-color: #838383;
          background-image: url(img/pill-identifier/filter-pattern.png);
          &:hover,&.hovered{
            background-color: #adadad;
            background-image: url(img/pill-identifier/filter-pattern.png);
          }
        }

        @icon_color_X_dd_offset:-80px;
        @icon_color_Y_dd_offset:-80px;

        .icon_color_1s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*0) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_2s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*1) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_3s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*2) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_4s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*3) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_5s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*4) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_6s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*5) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_7s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*6) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_8s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*7) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_9s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*8) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_10s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*9) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_11s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*10) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_12s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*11) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_13s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*12) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_14s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*13) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_15s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*14) (@icon_shape_Y_dd_offset*0);
        }
        .icon_color_16s{
          background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_shape_X_dd_offset*14) (@icon_shape_Y_dd_offset*0);
        }

        .icon_form_1s{
          background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*0) (@icon_form_Y_dd_offset*0);
        }
        .icon_form_2s{
          background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*1) (@icon_form_Y_dd_offset*0);
        }
        .icon_form_3s{
          background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*2) (@icon_form_Y_dd_offset*0);
        }


        .icon_scoring_1s{
          background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*0) (@icon_score_Y_dd_offset*0);
        }
        .icon_scoring_2s{
          background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*1) (@icon_score_Y_dd_offset*0);
        }
        .icon_scoring_3s{
          background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*2) (@icon_score_Y_dd_offset*0);
        }
        .icon_scoring_4s{
          background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*3) (@icon_score_Y_dd_offset*0);
        }

        .icon_shape_1s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*0) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_2s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*1) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_3s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*2) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_4s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*3) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_5s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*4) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_6s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*5) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_7s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*6) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_8s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*7) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_9s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*8) (@icon_shape_Y_dd_offset*0);
        }
        .icon_shape_10s{
          background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*9) (@icon_shape_Y_dd_offset*0);
        }



        .Yatzero{
          background-position-y: 0px !important;
        }



      }


      .pillfilter_drop{
        z-index:@zindex_H;
        display:block;
        position:absolute;
        width:(@app_width/1.05);
        margin-left: (@app_width/50);
        background-color: #fff;
        .border-radius(10px);


        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        -moz-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
        -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);

        //border:1px solid #ccc;
        font-size: 13px; //RG bumped up from 12
        line-height: 15px; //RG bumped up from 14

        form{
          font: @global_boldfont;
        }

        input[type=text]{
          .border-radius(5px);
          background-color:#f0f0f0 ;
          font-size: 24px;
          border:1px solid #939393;
          color: #565656;
          padding-left: 10px;
          width: 270px;
          &::-ms-clear {
            display: none;
          }
        }

        #nosearchbox{
          display:inline-block;
          .border-radius(5px);
          // background-color:rgba(0,0,0,.2) ;
          background: url(img/pill-identifier/noimprint_bg.gif) repeat;
          font-size: 24px;
          border:1px solid #939393;
          color: #565656;
          //RG included in padding below padding-left: 10px;
          //height:30px;
          width: 271px;
          padding: 15px 0px 15px 10px;
          margin-top:17px;   //reverted changes
          margin-left:15px;
        }





        span.enterIMP,.nosearchy{
          position: relative;
          top:-4px;
          color:#fff;
          //font-weight: bold;
          font-size: 13px;
          width:64px;
          height:34px;
          .boxsize;
          .border-radius(4px);
          border:0px solid #000;
          background-color: #919191;
          padding: 8px 10px 8px 10px;
        }

        .nosearchy{
          top:-12px;
          margin-top:-12px;
          margin-left:1px;
          background-color: #BBB; //RG darkened a little
          padding: 8px 10px 8px 9px;


        }

        input[type=checkbox]{

          margin-left: 15px;
          width: 20px;
        }




        ul{
          margin:7px 0px 7px -20px; //RG added top and bottom padding
          li{

            .inlinelist;
            width:60px;
            height:60px;

            //
            //.box-shadow-inset(3px;3px;10px;rgba(255, 255, 255, 0.6));
            text-align: center;
            line-height: 60px;
            .boxsize;
            margin: 5px 4px 5px 4px; //RG 6 to 5, 3 to 4
            overflow: hidden;
            cursor: pointer;



          }




        }  /* */







        .imprint-dropB {
          position: absolute;
          margin:0px;
          padding: 0px;
          .imprint-drop-ul {
            display: block;
            position: relative;
            left:18px;
            margin:0px;
            padding: 0px;
            li {
              a{
                color: #2d2d2d;
                text-decoration: none;



              }

              text-decoration: none;
              display: block;
              position: relative;
              cursor: pointer;
              margin:0px;
              padding: 0px;
              vertical-align: auto;
              display: block;
              height: auto;
              width: 277px;
              text-align: left;
              line-height: 17px;
              font-size: 13px;
              padding: 5px 7px 4px 7px;
              .border-radius (0px);
              .box-shadow-inset(0px;0px;0px;rgba(255, 255, 255, 0));
              border-bottom: 1px solid #dedede;
              background-color: #fafafa;
              &:nth-child(odd) { background-color: #f8f8f8; }

              &:hover{

                background-color: #fff;
                //text-decoration: none;
                a{
                  //font-weight: bold;
                  text-decoration: none;



                }
              }

            }
            //background-color: fff;
            .box-shadow;
          }

        }




      }


      .arrow_before{
        position: absolute;
        content:"";
        border-color: transparent transparent #fff transparent;
        border-style:solid;
        border-width:11px;
      }
      .arrow_after{
        position: absolute;
        content:"";
        border-color: transparent transparent #fff transparent;
        border-style:solid;
        border-width:11px;
      }







      .imprint-drop{
        width:400px;
       // position: relative;

        @triX:-330px;
        @triY:23px;
        div.showinstructions:before {
          .arrow_before;
bottom:@triY;
left:@triX ;
z-index: @zindex_L;

  }

div.showinstructions:after {
  .arrow_after;
  bottom:(@triY - 1);
  left:@triX ;
z-index: @zindex_M;
  }



.instruction_block{
  display:block;
  .boxsize;
  width:100%;
  height:120px;
 // font: @global_font; //RG turning off bold for help text

  #imphelptext{
    display:block;
    float:left;
    width:350px;
    //RG margin-top: 6px;
    //RG margin-left: 6px;
  }

  /*  div{
      display:block;
      //float:left;

    }    */


  #imphelpimage{
    width:100%;
    margin-top: 40px;
    margin-left: 15px;
    bottom:0px;
    //float:left;
    //width:148px;
    height:68px;
    background: url(img/pill-identifier/imprint-help.png) no-repeat 71px 0px;





    .cnt_left {
      margin-top: 16px;
      float:left;
      width:60px;
    }

    .cnt_right {
      margin-top: 16px;
      float:right;
      width:190px;


      .bold{
        font: @global_boldfont;
      }



    }


  }
}


form{
  padding: 15px 0px 0px 15px;

}
.noIMPcb{
  margin-top: 7px;
  margin-left: 0px;
  margin-bottom: 10px; //RG increased from 7
}

.noIMPcheckbox{
  display: inline-block;
  margin-top: -2px;
  margin-left: 0px;
  padding-top: 0px;
  padding-bottom:0px;
  vertical-align:text-top;
}

  }


.shapefilter-drop {
  //position: relative;
  @triX:-410px;
  @triY:23px;
  width:590px;
  margin-left: 20px;

  div.showinstructions:before {
    .arrow_before;
bottom:@triY;
left:@triX ;
z-index: @zindex_L;
  }
div.showinstructions:after {
  .arrow_after;
  bottom:(@triY - 1);
  left:@triX ;
z-index: @zindex_M;
  }

ul li{
  text-transform: uppercase;
  width:98px;
  height:80px;
  .border-radius (5px);
  background-color: #f0f0f0;
  &:hover{background-color: #f6f6f6;}
  border:1px solid #e4e4e4;
  position: relative;
  .icon{
    position: absolute;
    margin-top: -10px;
    margin-left: 9px;
    width:80px;
    height:80px;
    //background-color: rgba(36, 137, 48, 1);
    overflow: hidden ;
  }
  .text{
    position: absolute;
    width:100%;
    color: #666;
    font-size: 12px; //RG 13px to 12px
    height:20px;
    top:40px;
    margin-left:0px;
  }
}

  }

.color-drop {
  @triX:-290px;
  @triY:23px;


  div.showinstructions:before {
    .arrow_before;
bottom:@triY;
left:@triX ;
z-index: @zindex_L;
  }
div.showinstructions:after {
  .arrow_after;
  bottom:(@triY - 1);
left:@triX ;
z-index: @zindex_M;
  }



ul li{
  text-transform: uppercase;
  z-index: @zindex_H;
  width:60px;
  height:60px;
  .border-radius (40px);

  //   &:hover{border:1px solid #f00;}

  //     &:hover{background-color: #f0f0f0;}
  //border:1px solid #e4e4e4;
  position: relative;
  .icon{
    position: absolute;
    margin: -10px;
    width:80px;
    height:80px;
    background-color: rgba(36, 137, 48, 0);
    overflow: hidden;
  }
  .text{
    display:none;
    position: absolute;
  }
}

  }
.form-drop {
  @triX:-162px; //RG reduced from -170
  @triY:23px;
  width:380px;
  margin-left: 225px;
  div.showinstructions:before {
    .arrow_before;
bottom:@triY;
left:@triX ;
z-index: 401;
  }
div.showinstructions:after {
  .arrow_after;
  bottom:(@triY - 1);
  left:@triX ;
z-index: 402;
  }


ul li{
  text-transform: uppercase;
  width:98px;
  height:80px;
  .border-radius (5px);
  background-color: #f6f6f6;
  border:1px solid #e4e4e4;
  position: relative;
  &:hover{background-color: #f0f0f0;} //RG swapped backrground color with default
  .icon{
    position: absolute;
    margin-top: -10px;
    margin-left: 9px;
    width:80px;
    height:80px;
    background-color: rgba(36, 137, 48, 0);
    overflow: hidden;
  }
  .text{
    position: absolute;
    width:100%;
    color: #666;
    font-size: 12px; //RG 13px to 12px
    height:20px;
    top:40px;
    margin-left:0px;
  }
}

  }
.scoring-drop {
  @triX:-35px; //RG reduced from 60
  @triY:23px;
  width:480px;
  margin-left: 125px;
  div.showinstructions:before {
    .arrow_before;
bottom:@triY;
left:@triX ;
z-index: 401;
  }
div.showinstructions:after {
  .arrow_after;
  bottom:(@triY - 1);
  left:@triX ;
z-index: 402;
  }


ul li{
  text-transform: uppercase;
  position: relative;
  width:98px;
  height:80px;
  .border-radius (5px);
  background-color: #f0f0f0;
  border:1px solid #dcdcdc;
  &:hover{background-color: #f6f6f6;}
  .icon{
    position: absolute;
    margin-top: -10px;
    margin-left: 9px;
    width:80px;
    height:80px;
    background-color: rgba(36, 137, 48, 0);
    overflow: hidden;
  }
  .text{
    position: absolute;
    width:100%;
    color: #666;
    font-size: 12px; //RG 13px to 12px
    height:20px;
    top:40px;
    //RG removed negative 5px left margin
  }
}

  }


.showinstructions{
  //cursor: pointer;
  position: absolute;
  top: 5px;
  right:5px;
  background: url(img/pill-identifier/PID_misc-sprites.png) no-repeat -197px 0px;
  //color:#fff;
  //font-weight: bold;
  //background-color:#005b81 ;
  //padding: 2px 0px 0px 4px;
  //.border-radius(8px);
  width:18px;
  height:18px;
  .boxsize;
}

.showinstructions_activated{

  background: url(img/pill-identifier/PID_misc-sprites.png) no-repeat -297px 0px !important;





  &:before{

    border-color: transparent transparent #ccc transparent !important;

  }
  &:after{

    border-color: transparent transparent #efefef transparent !important;

  }


}


.instruction_block{
  background-color:#efefef ;
  //.border-radius(10px);
  border-radius: 10px 10px 0 0;
  padding: 8px 15px 8px 10px; //RG Reduced padding
  cursor: pointer;
  font: @global_font; //RG turning off bold for help text

  //background: rgb(255,255,255);
  //background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(239,239,239,1) 100%);
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(20%,rgba(239,239,239,1)));
  //background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
  //background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
  //background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
  //background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(239,239,239,1) 100%);
  //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=0 );


}

  }
#bottom-content{
  position:relative;
  height:900px;


  .infobar{
    //font-weight: lighter;
    font-size: 13px;
    position:relative;
    height: 26px; //RG replaced statusbar_height
    line-height: 26px; //RG adding line height to vertically center
    background-color: #ebebeb;
    border-bottom:1px solid #ccc;
    padding:0px 0px 0px 20px; //RG eliminated top 8px padding which was added to above height
    .clearallbutton{
      color: #005a80;
      position: absolute;
      top:0px; //RG removed top 8px padding, now covered in line-height
      right:20px; //RG reduced from 25px
      //padding: 2px 10px 2px 10px;
      //border: 1px #ccc solid;
      //.border-radius(15px);
      //background-color: #fff;
      cursor: pointer;
    }
  }

  .resultshadow{
    opacity:0;
    position:absolute;
    top:27px;
    left:0px;
    right:15px;
    height:6px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0.11) 0%, rgba(0,0,0,0) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.11)), color-stop(100%,rgba(0,0,0,0)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#00000000',GradientType=0 );

  }

  .resultshadowB{
    opacity:0;
    position:absolute;
    top:459px;
    left:0px;
    right:15px;
    height:6px;

    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.11) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.11)));
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.11) 100%);
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.11) 100%);
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.11) 100%);
    background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.11) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#8c000000',GradientType=0 );

  }


  .bottomwin{
    .kitty {

      margin: 30px 0px 0px 110px;

    }
    height:(@resultcontainer_height+@statusbar_height);
  }

  .noresultsbox{
    position:relative;
    //RG removing background: url(img/pill-identifier/pillid-bg.png) no-repeat -0px 0px;
    .shadow{

      position:absolute;
      top:27px;
      left:0px;
      right:0px;
      height:6px;

      background: -moz-linear-gradient(top,  rgba(0,0,0,0.11) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.11)), color-stop(100%,rgba(0,0,0,0)));
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#00000000',GradientType=0 );

    }

    .textblock{
      margin:15px;
      .bold{
        font: @global_boldfont;
        font-size: 16px;
        padding-top: 10px;
      }
    }




  }


  .instructionbox{
    position:relative;
    background: url(img/pill-identifier/pillid-bg.png) no-repeat -0px 0px;

    .shadow{

      position:absolute;
      top:0px;
      left:0px;
      right:0px;
      height:6px;

      background: -moz-linear-gradient(top,  rgba(0,0,0,0.11) 0%, rgba(0,0,0,0) 100%);
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0.11)), color-stop(100%,rgba(0,0,0,0)));
      background: -webkit-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      background: -o-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      background: -ms-linear-gradient(top,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      background: linear-gradient(to bottom,  rgba(0,0,0,0.11) 0%,rgba(0,0,0,0) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8c000000', endColorstr='#00000000',GradientType=0 );

    }



    .instructions{
      position:absolute;
      background: url(img/pill-identifier/logo-lg.png) no-repeat -0px 0px;
      //border: 1px #000 dashed;
      width:430px; //RG increased from 385px
      right:30px;
      top:25px;
      overflow: visible;
      padding-left: 85px;
      padding-top: 70px;
      .boxsize;
      font-size: 14px; //RG reduced from 15px
      line-height: 17px;

      .bold{
        font: @global_boldfont;
        font-size: 16px;
        padding-top: 10px;
      }

      li{
        background: url(img/pill-identifier/greenarrow.png) no-repeat 0px 2px;
        padding-left: 17px;
        margin-left: -25px;
      }

    }

  }


  .resultsbox{

    #resultscoller{

      overflow-x: hidden;
      overflow-y: auto;
      height:@resultcontainer_height;
      ul{
        margin: 0px 0px 0px -32px;

        background-color: #ebebeb;



        li{

          .inlinelist;
          .boxsize;

          .drugentry{
            line-height: 16px;
            position: relative;
            background-color: @result_def_bg;
            height:@result_height;
            width: 191px;//@result_width;
            .boxsize;
            border: 1px #FFFFFF solid;
            .border-radius(8px);
            padding: 5px;
            margin: 6px 3px 6px 3px;
            overflow-x: hidden;
            overflow-y: hidden;

            .drugname{
              display:inline-block;
              text-transform: capitalize;
              //font-weight: lighter;
              font-size: 15px;
              height:17px;
              overflow-y:hidden;
              margin-left:2px;


            }
            .genericcl{
              position:absolute;
              bottom:20px;
              left:    7px;

              font-size: 12px;
            }
            .formcl{
              text-transform: capitalize;
              text-align: left;
              position: absolute;
              display:block;
              bottom:3px;
              left:7px;
              color:#666;
              font-size: 12px;
            }
            .strengthcl{
              //text-transform: capitalize;
              text-align: right;
              position: absolute;
              display:block;
              bottom:3px;
              right:7px;
              color:#666;
              font-size: 12px;
            }


            .drugimage {
              cursor: pointer;
              display: block;
              width: 100%;
              height: 130px;
              //border: 1px #cecece solid;
              background-color: #ccc;
              .border-radius(4px);
              overflow: hidden;
              margin-bottom: 5px;
              img{
                width:100%;
                height:auto;

              }

            }

            .magglass {
              position: absolute;
              right: 4px;
              top: 110px;
              height: 26px;
              width: 26px;
              // background-color: #69289d;
              background-image:url('img/pill-identifier/PID_misc-sprites.png');
              background-position: -98px 2px;
              cursor: pointer;
              opacity: .8;
              &.hovered{
                opacity: 1;
              }
            }
            a{
              color: #04336c;
              text-transform: capitalize;
              //text-decoration: none;
              //font-weight: lighter;
              //font-size: 14px;
              .drugname{
                &:hover{
                  text-transform: capitalize;
                  //font-weight: bold;
                  text-decoration: underline;
                  //border-bottom:1px #04336c solid;
                }
              }


            }
            span{
              //display: block;
              // font-size: 12px;
              // width:150px;
            }

          }




        }

      }

      .loadmore{
        text-align: center;
        //RG unbolded font-weight: bold; 
        font-size: 16px; //RG increased from 14
        color: #666; //RG
        position:relative;
        padding: 2px 10px 2px 10px;
        //border: 1px #ccc solid;
        .border-radius(15px);
        //background-color: #fff;
        //cursor: pointer;
      }

      .loadmore img{
        margin-bottom: -6px; //RG vertically aligned loading gif
      }


    }



  }




  .druginfopop{
    z-index:@zindex_M;
    position: absolute;
    top:0px;
    height:(@resultcontainer_height+@statusbar_height+12);
    width: @app_width;
    a{
      text-decoration: none;
      &:hover{text-decoration: none;}

    }


    .druginfo_fg{

      @drugpopinfo_w:(@app_width/1.05);
      @drugpopinfo_h:300px;

      position: relative;
      z-index:@zindex_H;
      background-color: #fff;
      min-height: 265px;
      //width: 278px;
      width: (@app_width/1.05);
      .border-radius(12px);
      .box-shadow;
      .boxsize;

      margin: 15px 0 0 15px;

      // margin:90px 0px 0px 15px;

      .maghead{

        color:#fff;
        //font-weight: bold;
        position:absolute;
        top:0px;
        left:0px;
        padding-top: 3px;
        width: (@app_width/1.05);
        height:28px;
        background-color: #333333;
        -webkit-border-top-left-radius: 10px;
        -webkit-border-top-right-radius: 10px;
        -moz-border-radius-topleft: 10px;
        -moz-border-radius-topright: 10px;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        //padding: 8px 0px 0px 12px;
        font: @global_boldfont;

        line-height: 28px;
        padding: 0 0 0 12px;

        .boxsize;
        a{color:#fff;
          &:hover{text-decoration: none;}
          text-transform: capitalize;


        }
      }

      .closeme{
        position:absolute;
        //background-color: #fff;
        //.border-radius(10px);
        top: 4px;
        right:1px;
        height:28px;
        width:28px;
        //border: 1px #cecece solid;
        //line-height: 12px;
        text-align: center;
        cursor: pointer;
        background: url(img/pill-identifier/PID_misc-sprites.png) no-repeat -500px -1px;
      }
      table {

        .capthis{text-transform: capitalize;}


        color: #4c4c4c;
        float:right;
        width: 275px ;
        margin-top:40px;
        margin-right:13px;
        font-size:10px;
        border: solid black 0px;
        border-spacing: 0px;
        td{
          padding: 3px 5px 3px 9px;
          //padding: 3px 10px 3px 10px;
          border-bottom: 1px solid #d6d6d6;
          font-size: 12px;
          //font-weight: bold;
          font: @global_boldfont;


          &:nth-child(even) { //font-weight:lighter;
            font-size: 11px; color: #757575;
            //text-transform: capitalize;
          }

        }
        tr{
          background-color: #fff;

          &:nth-child(odd) { background-color: #f2f2f2; }
          &:nth-child(1){
            td{
              border-top: 1px solid #d6d6d6;



            }



          }

          td:nth-child(even) {
            font: @global_font;
            font-size: 12px; //RG reduced from 13px to 12px
          }




        }

      }



      .drugimage {
        float:left;
        display: block;
        width: 290px;
        height: 215px;
        //border: 1px #cecece solid;
        background-color: #ccc;
        //.border-radius(6px);
        overflow: hidden;
        margin-top:38px;
        margin-left:10px;
        img{
          width:100%;
          height:auto;

        }

      }

      .mono_button{
        color:rgba(0,0,0,0);
        float: right;
        //.gradient();

        width:195px ;
        height:35px;
        //height:33px;



        //margin-right: 70px;
        // margin-top:5px;
        //padding: 0px 0px 0px 12px;

        margin: 9px 10px 0 0;
        padding: 0;

        //margin-top: 10px;
        //.boxsize;
        //font-size: 13px;
        //font-weight: bold;
        //.border-radius(5px);

        background-image:url('img/pill-identifier/PID_misc-sprites.png');
        background-position: 0px -198px;


        a{color:rgba(0,0,0,0)}
      };

      .inter_button{
        float: right;
        margin-right: 156px;
        margin-top: 2px;
      };


    }
    .druginfo_bg{
      z-index:@zindex_L;
      position: absolute;
      top:0px;
      left: 0px;
      background-color: rgba(0, 0, 0, 0.4);
      height:100%;
      width:100%;

    }
  }


}

  }



//.icon_color_default{
// background: url(img/pill-identifier/filters.png) no-repeat -257px -270px;
//}

.colormegood(@color:#fff){

  background-color: @color;
  border: 1px solid (@color/1.5);
  background-position: auto 0px;

}
.colorhover{
  // opacity:.65;
  // &:hover{opacity:1}
}

.filterLISelected{
  background-color: #F0F0F0 !important;
  border: 1px solid #B6B6B6 !important;
  //.box-shadow !important;
  //background-position-y: 0px !important;
}

/*  */


@icon_default_X_offset:-80px;
@icon_default_Y_offset:-80px;
.icon_imprint_default{
  background: url(img/pill-identifier/PID_default-selected.png) no-repeat (@icon_default_X_offset*0) (@icon_default_Y_offset*1);
}
.icon_imprint_default_s{
  background: url(img/pill-identifier/PID_imprint.png) no-repeat (@icon_default_X_offset*0) (@icon_default_Y_offset*0);
}


.icon_color_default{
  background: url(img/pill-identifier/PID_default-selected.png) no-repeat (@icon_default_X_offset*0) (@icon_default_Y_offset*5);
}
.icon_shape_default{
  background: url(img/pill-identifier/PID_default-selected.png) no-repeat (@icon_default_X_offset*0) (@icon_default_Y_offset*3);
}
.icon_form_default{
  background: url(img/pill-identifier/PID_default-selected.png) no-repeat (@icon_default_X_offset*0) (@icon_default_Y_offset*7);
}
.icon_scoring_default{
  background: url(img/pill-identifier/PID_default-selected.png) no-repeat (@icon_default_X_offset*0) (@icon_default_Y_offset*9);
}

@icon_imprint_X_dd_offset:-80px;
@icon_imprint_Y_dd_offset:-80px;

.icon_imprint_1{
  background: url(img/pill-identifier/PID_imprint.png) no-repeat (@icon_imprint_X_dd_offset*0) (@icon_imprint_Y_dd_offset*0);
  //.colorhover ;
}
.icon_imprint_2{
  background: url(img/pill-identifier/PID_imprint.png) no-repeat (@icon_imprint_X_dd_offset*1) (@icon_imprint_Y_dd_offset*0);
  //.colorhover ;
}


@icon_color_X_dd_offset:-80px;
@icon_color_Y_dd_offset:-80px;


.icon_color_1{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*0) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_2{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*1) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_3{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*2) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_4{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*3) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_5{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*4) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_6{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*5) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_7{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*6) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_8{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*7) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_9{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*8) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_10{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*9) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_11{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*10) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_12{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*11) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_13{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*12) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_14{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*13) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_15{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*14) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}
.icon_color_16{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*14) (@icon_color_Y_dd_offset*1);
  //.colorhover;
}


//selected
.icon_color_1s{
  //background-color: #fff !important;
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*0) (@icon_color_Y_dd_offset*2);

}
.icon_color_2s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*1) (@icon_color_Y_dd_offset*2);
}
.icon_color_3s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*2) (@icon_color_Y_dd_offset*2);
}
.icon_color_4s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*3) (@icon_color_Y_dd_offset*2);
}
.icon_color_5s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*4) (@icon_color_Y_dd_offset*2);
}
.icon_color_6s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*5) (@icon_color_Y_dd_offset*2);
}
.icon_color_7s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*6) (@icon_color_Y_dd_offset*2);
}
.icon_color_8s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*7) (@icon_color_Y_dd_offset*2);
}
.icon_color_9s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*8) (@icon_color_Y_dd_offset*2);
}
.icon_color_10s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*9) (@icon_color_Y_dd_offset*2);
}
.icon_color_11s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*10) (@icon_color_Y_dd_offset*2);
}
.icon_color_12s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*11) (@icon_color_Y_dd_offset*2);
}
.icon_color_13s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*12) (@icon_color_Y_dd_offset*2);
}
.icon_color_14s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*13) (@icon_color_Y_dd_offset*2);
}
.icon_color_15s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*14) (@icon_color_Y_dd_offset*2);
}
.icon_color_16s{
  background: url(img/pill-identifier/PID_color.png) no-repeat (@icon_color_X_dd_offset*14) (@icon_color_Y_dd_offset*2);
}


@icon_shape_X_dd_offset:-80px;
@icon_shape_Y_dd_offset:-80px;

.icon_shape_1{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*0) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_2{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*1) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_3{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*2) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_4{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*3) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_5{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*4) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_6{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*5) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_7{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*6) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_8{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*7) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_9{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*8) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}
.icon_shape_10{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*9) (@icon_shape_Y_dd_offset*1);
  .colorhover;
}

//selected
.icon_shape_1s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*0) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_2s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*1) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_3s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*2) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_4s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*3) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_5s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*4) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_6s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*5) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_7s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*6) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_8s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*7) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_9s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*8) (@icon_shape_Y_dd_offset*1);
}
.icon_shape_10s{
  background: url(img/pill-identifier/PID_shape.png) no-repeat (@icon_shape_X_dd_offset*9) (@icon_shape_Y_dd_offset*1);
}


@icon_form_X_dd_offset:-80px;
@icon_form_Y_dd_offset:-80px;

.icon_form_1{
  background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*0) (@icon_form_Y_dd_offset*1);
  .colorhover;
}
.icon_form_2{
  background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*1) (@icon_form_Y_dd_offset*1);
  .colorhover;
}
.icon_form_3{
  background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*2) (@icon_form_Y_dd_offset*1);
  .colorhover;
}

//selected
.icon_form_1s{
  background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*0) (@icon_form_Y_dd_offset*1);
}
.icon_form_2s{
  background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*1) (@icon_form_Y_dd_offset*1);
}
.icon_form_3s{
  background: url(img/pill-identifier/PID_form.png) no-repeat (@icon_form_X_dd_offset*2) (@icon_form_Y_dd_offset*1);
}



@icon_score_X_dd_offset:-80px;
@icon_score_Y_dd_offset:-80px;

.icon_scoring_1{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*0) (@icon_score_Y_dd_offset*1);
  .colorhover;
}
.icon_scoring_2{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*1) (@icon_score_Y_dd_offset*1);
  .colorhover;
}
.icon_scoring_3{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*2) (@icon_score_Y_dd_offset*1);
  .colorhover;
}
.icon_scoring_4{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*3) (@icon_score_Y_dd_offset*1);
  .colorhover;
}

//selected
.icon_scoring_1s{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*0) (@icon_score_Y_dd_offset*1);
}
.icon_scoring_2s{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*1) (@icon_score_Y_dd_offset*1);
}
.icon_scoring_3s{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*2) (@icon_score_Y_dd_offset*1);
}
.icon_scoring_4s{
  background: url(img/pill-identifier/PID_score.png) no-repeat (@icon_score_X_dd_offset*3) (@icon_score_Y_dd_offset*1);
}



  }

#pilllegaldiv{
  margin-top: 10px;
}


#VPtrkDIV{

}

#TESTDATA{
  display:none;
  background-color: #e2f71b;
  font-size: 10px;
}


// stuff for NASTY ASS IE
.oldie {

  #position{
    #logo{}
    #container{
      #top-content{
        .pillfilter{}
        .pillfilter_drop{}
      }
      #bottom-content{
        .infobar{}
        .bottomwin{}
        .druginfopop{}
      }
    }
  }

}

/*!superjonbot wuz here*/
  /**/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px ){

  #position{
    background-color: #ff3;
    p.text_idpill{
      display:none;
    }
    #logo{}
    .mobileclearallbutton{
      display:block;
    }
    #container{
      width:100%;
      height:auto;

      #top-content{
        height:auto;
        .pillfilter{
          .boxsize;
          display:block;
          width:auto;
          height:64px;
          margin: 0px 0px 0px 0px !important;
          border-bottom: 1px solid #e5e5e5 ;
          border-top: 1px solid #e5e5e5 ;
          .border-radius(0px) ;

          div{

          &.clearfilter{
            right: 15px;
            top: 15px;

          }
          &.filter{
            width:52px;
            height:52px;

          }

          &.background{

            line-height: 0px;
            width:52px;
            height:52px;
            .border-radius(4px);

            span{
              text-transform: none !important;

              font-size: 18px;
              line-height: 0px;
              margin-left:60px;
              top:30px;
              color:#000;
            }


          }

          }



        }
        .pillfilter_drop{
           position:fixed;
          top:0px;
          width: auto !important;
          margin: 10px 10px 10px 10px !important;
        }
      }
      #bottom-content{
        .infobar{}
        .bottomwin{}
        .druginfopop{}
      }
    }
  }

}