/*!Last Updated: 2/19/14:1:58 PM by Jonathan Robles*/

/*!***********************************************/
/*!                                              */
/*! shutthebox LESS/CSS File                   */
/*! Start Date: 2/19/14 : 1:58 PM                */
/*!                                              */
/*!***********************************************/

/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Thin*/
@font-face {
  font-family: 'proxima_nova_thin';
  src: url('fonts/proximanova/thin/ProximaNova-Thin-webfont.eot');
  src: url('fonts/proximanova/thin/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/thin/ProximaNova-Thin-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/thin/ProximaNova-Thin-webfont.woff') format('woff'), url('fonts/proximanova/thin/ProximaNova-Thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT END

//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_thinfont: normal 14px "proxima_nova_thin";

@app_bg: #ededed;
@app_width: 630px;
@app_height: 625px;

@zindex_L: 1;
@zindex_M: 2;
@zindex_H: 3;

@images-url: "img/";
//usage: @{images-url}
@sprite_x_offset: -100px;
@sprite_y_offset: -100px;

//IMPORTS
@import "../css/globalCSS.less";
//imported superjonbot mixins, usage: #sjbm > .xxx;
body{
  overflow: hidden;
  margin: 0;
  padding:0;
}

#bigbg{
  position: absolute;
  background: url("img/shutthebox/bg.jpg") no-repeat center center;
  background-size: auto 100%;
  height: 100%;
  margin: 0;
  padding:0;
  width: 100%;
}

//BEGIN CSS
#app-main {
  overflow: hidden;
  #turnspan{
    position:absolute;
    right: 45px;
    bottom: 167px;
    color: rgba(0,0,0,0);
  }
  #sjbm > .box-shadow (8px,8px,11px,rgba(0, 0, 0, 0.8));
    #sitehotspot{
      position:absolute;
    width:200px;
    height:60px;
    background-color: rgba(0,0,0,0);
    right: 0px;
    top: 173px;
    cursor: pointer;
  }

  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #fff url("img/shutthebox/title.jpg") no-repeat top 0px left 0px;

position:relative;
  #expertmode{
    margin-left: -214px;
    cursor: pointer;
    display:block;
    position:absolute;
    //margin-left: 15px;
    //margin-bottom: 80px;
    #sjbm > .boxthis(200px,30px,0px,0px,0px,rgba(0,0,0,0.38));
    font:@global_font;
    font-size:1em;
    padding:11px;
    background: #f00 url("img/shutthebox/switch.jpg") no-repeat top 0px left 0px;
    padding-left: 70px;
    line-height: 11px;

    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
    border-bottom-right-radius: 30px;
  }
  .expertON{
    background: #0f0 url("img/shutthebox/switch.jpg") no-repeat top -25px left 0px !important;
  }


  #sjbm > .showthis;
  font: @global_font;
  font-weight: 300;
  #sjbm > .boxthis(700px,700px,5px,5px,1px,#ddd);
  height:800px;
  z-index: @zindex_M;


  #cards{
    margin-top: 230px;
    background-color: #efefef;
    overflow:hidden;
    position:relative;
    #grumpymessage{
      opacity:0;
      z-index: @zindex_H;
      top:36px;
      right:41px;
      overflow:hidden;
      position: absolute;
      #sjbm > .boxthis(250px,250px,50px,15px,3px,#000);
      background-color: rgba(255, 255, 255, 0.85);
      font: @global_boldfont;
      font-size: 1.8em;

      -ms-transform: scale(.01);
      -webkit-transform: scale(.01);
      transform: scale(.01);

      #tryagain{
        margin-left: 32px;
        #sjbm > .boxthis(150px,50px,25px,5px,1px,rgba(0,0,0,0.38));
        font:@global_font;
        font-size:1em;
        padding:11px;
        background-color: #62ff5e;
      }
    }
    #grumpycat{
      z-index: @zindex_M;
      overflow:hidden;
      position: absolute;
      top:390px;
      width:100%;
      height:100%;
      background: url("img/shutthebox/kitty.png") no-repeat top 0px left 0px;
    }

    #happymessage{
      opacity:0;
      -ms-transform: scale(.01);
      -webkit-transform: scale(.01);
      transform: scale(.01);
      z-index: @zindex_H;
      top:36px;
      left:21px;
      overflow:hidden;
      position: absolute;
      #sjbm > .boxthis(250px,250px,50px,15px,3px,#000);
      background-color: rgba(255, 255, 255, 0.85);
      font: @global_boldfont;
      font-size: 1.8em;
      a:visited,a:link,a:hover,a:active{
        text-decoration: none;
        color: #0b5ac5;
        font: @global_font;
        font-size: 1.2em;
      }
    };

    #happycat{
      margin-left: 800px;
      z-index: @zindex_M;
      overflow:hidden;
      position: absolute;
      //top:390px;
      width:100%;
      height:100%;
      background: url("img/shutthebox/happykitty.png") no-repeat top 68px right 13px;
    }
    #welcomeblock{
      z-index: @zindex_M;
      height:130%;
      width:100%;
      position:absolute;
      background-color: rgba(0, 0, 0,0);
    }
    #welcome{
      #sjbm > .box-shadow (8px,8px,11px,rgba(0, 0, 0, 0.4));
      font-size: 1.1em;
      b{
        font: @global_boldfont;
      }
      p{text-align: left;
        margin-left: 20px;
        margin-right: 20px;
      }
      text-align: center;
      z-index: @zindex_H;
      position: absolute;
      margin-left: 103px;
      margin-top: 30px;
      #sjbm > .boxthis(450px,310px,5px,5px,1px,#000);
      background-color: rgba(255, 255, 255, 0.95);
      #Begin{
        //margin-left: -300px;
        cursor: pointer;
        position: absolute;
        right: 144px;
        bottom: 17px;
        #sjbm > .boxthis(150px,50px,25px,5px,1px,rgba(0,0,0,0.38));
        font:@global_font;
        font-size:1.3em;
        padding:11px;
        background-color: #62ff5e;
      }
    }


    #sjbm > .boxthis(670px,400px,5px,5px,1px,#ddd);
    @multiplier:108px;
    .card{
      z-index: @zindex_L;
      perspective: 300;
      -webkit-perspective: 300;
      position:relative;
      display:inline-block;
      vertical-align: top;
      margin:10px;
      width:110px;
      height:160px;



      &:hover{
        #sjbm > .box-shadow (5px,10px,10px,rgba(0,255,0,.5));
       // #sjbm > .box-shadow ();//@x: 4px;@y: 4px;@blur: 11px;@color: rgba(0, 0, 0, 0.38))
        cursor: pointer;
      }

        .face{
          position:absolute;
          #sjbm > .boxthis(110px,160px,5px,5px,1px,#ddd);
          background: #2c458a url("img/shutthebox/screenshot.png") no-repeat top 0px left 0px;
          background-size: auto 100%;
          color:rgba(0,0,0,0);
          z-index: @zindex_H;
        }
        .card_1{
        background-position:top 0px left -(1*@multiplier);
        }
        .card_2{
          background-position:top 0px left -(2*@multiplier);
        }
        .card_3{
          background-position:top 0px left -(3*@multiplier);
        }
        .card_4{
          background-position:top 0px left -(4*@multiplier);
        }
        .card_5{
          background-position:top 0px left -(5*@multiplier);
        }
        .card_6{
          background-position:top 0px left -(6*@multiplier);
        }
        .card_7{
          background-position:top 0px left -(7*@multiplier);
        }
        .card_8{
          background-position:top 0px left -(8*@multiplier);
        }
        .card_9{
          background-position:top 0px left -(9*@multiplier);
        }
        .card_10{
          background-position:top 0px left -(10*@multiplier);
        }
        .card_11{
          background-position:top 0px left -(11*@multiplier);
        }
        .card_12{
          background-position:top 0px left -(12*@multiplier);
        }
        .card_13{
          background-position:top 0px left -(13*@multiplier);
        }
        .card_14{
          background-position:top 0px left -(1*@multiplier);
        }


        .back{
          position:absolute;
          #sjbm > .boxthis(110px,160px,5px,5px,1px,#ddd);
          background: #2c458a url("img/shutthebox/cardback.jpg") no-repeat top 0px left 0px;
          background-size: auto 100%;
          color:rgba(0,0,0,0);
          transform: rotateY(-180deg);
          -webkit-transform: rotateY(-180deg);
          z-index: @zindex_L;
        }



    }




    .selected{
      #sjbm > .box-shadow (5px,10px,10px,rgba(0,255,0,.7));
    };
    .used{


      .face{
        transition: 0.6s;
        -webkit-transition: 0.6s;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;

      };
      .back{
        transition: 0.6s;
        -webkit-transition: 0.6s;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        transform: rotateY(0deg);
        -webkit-transform: rotateY(0deg);
        backface-visibility: hidden;
        -webkit-backface-visibility: hidden;


      };

      &:hover{
        #sjbm > .box-shadow (0px,0px,0px);//@x: 4px;@y: 4px;@blur: 11px;@color: rgba(0, 0, 0, 0.38))
        cursor:no-drop;
      }
    };



  }

  #dice{
    text-align: right;
    margin-right: 20px;
    margin-top: 20px;
    .dicetotal{
      font-size:7em;
    }
    @multiplier:98px;
    >div{
      display:inline-block;
      vertical-align: top;
    }
    .dice{
      color: rgba(0,0,0,0);
      #sjbm > .boxthis(100px,100px,5px,5px,1px,rgba(0,0,0,0));
      background: url("img/shutthebox/dice.png") no-repeat top 0px left 0px;
      background-size: auto 100%;
    }
    .dice_2{
      background-position:top 0px left -(1*@multiplier);
    }
    .dice_3{
      background-position:top 0px left -(2*@multiplier);
    }
    .dice_4{
      background-position:top 0px left -(3*@multiplier);
    }
    .dice_5{
      background-position:top 0px left -(4*@multiplier);
    }
    .dice_6{
      background-position:top 0px left -(5*@multiplier);
    }
  }
}

#debug {
  #sjbm > .hidethis;
}

//mobile/tablet specific
.touch {
  #app-main {
  }
}

//desktop specific
.no-touch {
  #app-main {
  }
}

//oldIE
.oldie {
  #app-main {
  }
}

//END CSS