/*!Last Updated: 2/19/14:1:58 PM by Jonathan Robles*/
/*!***********************************************/
/*!                                              */
/*! shutthebox LESS/CSS File                   */
/*! Start Date: 2/19/14 : 1:58 PM                */
/*!                                              */
/*!***********************************************/
/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Thin*/
@font-face {
  font-family: 'proxima_nova_thin';
  src: url('fonts/proximanova/thin/ProximaNova-Thin-webfont.eot');
  src: url('fonts/proximanova/thin/ProximaNova-Thin-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/thin/ProximaNova-Thin-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/thin/ProximaNova-Thin-webfont.woff') format('woff'), url('fonts/proximanova/thin/ProximaNova-Thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*!***********************************************/
/*!                                              */
/*! GLOBAL LESS/CSS File                         */
/*! superjonbot mixins (sjbm) by Jonathan Robles */
/*!                                              */
/*!***********************************************/
#sjbm .showthis {
  display: block !important;
}
#sjbm .hidethis {
  display: none !important;
}
#sjbm .disablethis {
  opacity: .2 !important;
  background-color: #262626 !important;
}
#sjbm .disablethis:hover,
#sjbm .disablethis:active {
  background-color: #262626 !important;
}
#sjbm .clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#sjbm .clearfix {
  display: inline-block;
}
#sjbm * html .clearfix {
  height: 1%;
}
#sjbm .clearfix {
  display: block;
}
#sjbm .boxsize {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
#sjbm .inlinelist {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: text-bottom;
}
@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
ol,
ul {
  list-style: none;
}
body {
  overflow: hidden;
  margin: 0;
  padding: 0;
}
#bigbg {
  position: absolute;
  background: url("img/shutthebox/bg.jpg") no-repeat center center;
  background-size: auto 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
#app-main {
  overflow: hidden;
  box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.8);
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  background: #ffffff url("img/shutthebox/title.jpg") no-repeat top 0px left 0px;
  position: relative;
  display: block !important;
  font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 700px;
  height: 700px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  height: 800px;
  z-index: 2;
}
#app-main #turnspan {
  position: absolute;
  right: 45px;
  bottom: 167px;
  color: rgba(0, 0, 0, 0);
}
#app-main #sitehotspot {
  position: absolute;
  width: 200px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  right: 0px;
  top: 173px;
  cursor: pointer;
}
#app-main #expertmode {
  margin-left: -214px;
  cursor: pointer;
  display: block;
  position: absolute;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 0px;
  width: 200px;
  height: 30px;
  border: 0px solid rgba(0, 0, 0, 0.38);
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
  font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  padding: 11px;
  background: #ff0000 url("img/shutthebox/switch.jpg") no-repeat top 0px left 0px;
  padding-left: 70px;
  line-height: 11px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-bottomright: 30px;
  border-bottom-right-radius: 30px;
}
#app-main .expertON {
  background: #00ff00 url("img/shutthebox/switch.jpg") no-repeat top -25px left 0px !important;
}
#app-main #cards {
  margin-top: 230px;
  background-color: #efefef;
  overflow: hidden;
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 670px;
  height: 400px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
#app-main #cards #grumpymessage {
  opacity: 0;
  z-index: 3;
  top: 36px;
  right: 41px;
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 15px;
  width: 250px;
  height: 250px;
  border: 3px solid #000000;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  font: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.8em;
  -ms-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
}
#app-main #cards #grumpymessage #tryagain {
  margin-left: 32px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 150px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1em;
  padding: 11px;
  background-color: #62ff5e;
}
#app-main #cards #grumpycat {
  z-index: 2;
  overflow: hidden;
  position: absolute;
  top: 390px;
  width: 100%;
  height: 100%;
  background: url("img/shutthebox/kitty.png") no-repeat top 0px left 0px;
}
#app-main #cards #happymessage {
  opacity: 0;
  -ms-transform: scale(0.01);
  -webkit-transform: scale(0.01);
  transform: scale(0.01);
  z-index: 3;
  top: 36px;
  left: 21px;
  overflow: hidden;
  position: absolute;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 15px;
  width: 250px;
  height: 250px;
  border: 3px solid #000000;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.85);
  font: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.8em;
}
#app-main #cards #happymessage a:visited,
#app-main #cards #happymessage a:link,
#app-main #cards #happymessage a:hover,
#app-main #cards #happymessage a:active {
  text-decoration: none;
  color: #0b5ac5;
  font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2em;
}
#app-main #cards #happycat {
  margin-left: 800px;
  z-index: 2;
  overflow: hidden;
  position: absolute;
  width: 100%;
  height: 100%;
  background: url("img/shutthebox/happykitty.png") no-repeat top 68px right 13px;
}
#app-main #cards #welcomeblock {
  z-index: 2;
  height: 130%;
  width: 100%;
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
}
#app-main #cards #welcome {
  box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 8px 8px 11px rgba(0, 0, 0, 0.4);
  font-size: 1.1em;
  text-align: center;
  z-index: 3;
  position: absolute;
  margin-left: 103px;
  margin-top: 30px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 450px;
  height: 310px;
  border: 1px solid #000000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.95);
}
#app-main #cards #welcome b {
  font: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}
#app-main #cards #welcome p {
  text-align: left;
  margin-left: 20px;
  margin-right: 20px;
}
#app-main #cards #welcome #Begin {
  cursor: pointer;
  position: absolute;
  right: 144px;
  bottom: 17px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 150px;
  height: 50px;
  border: 1px solid rgba(0, 0, 0, 0.38);
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  border-radius: 25px;
  font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.3em;
  padding: 11px;
  background-color: #62ff5e;
}
#app-main #cards .card {
  z-index: 1;
  perspective: 300;
  -webkit-perspective: 300;
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  width: 110px;
  height: 160px;
}
#app-main #cards .card:hover {
  box-shadow: 5px 10px 10px rgba(0, 255, 0, 0.5);
  -moz-box-shadow: 5px 10px 10px rgba(0, 255, 0, 0.5);
  -webkit-box-shadow: 5px 10px 10px rgba(0, 255, 0, 0.5);
  cursor: pointer;
}
#app-main #cards .card .face {
  position: absolute;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 110px;
  height: 160px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #2c458a url("img/shutthebox/screenshot.png") no-repeat top 0px left 0px;
  background-size: auto 100%;
  color: rgba(0, 0, 0, 0);
  z-index: 3;
}
#app-main #cards .card .card_1 {
  background-position: top 0px left -108px;
}
#app-main #cards .card .card_2 {
  background-position: top 0px left -216px;
}
#app-main #cards .card .card_3 {
  background-position: top 0px left -324px;
}
#app-main #cards .card .card_4 {
  background-position: top 0px left -432px;
}
#app-main #cards .card .card_5 {
  background-position: top 0px left -540px;
}
#app-main #cards .card .card_6 {
  background-position: top 0px left -648px;
}
#app-main #cards .card .card_7 {
  background-position: top 0px left -756px;
}
#app-main #cards .card .card_8 {
  background-position: top 0px left -864px;
}
#app-main #cards .card .card_9 {
  background-position: top 0px left -972px;
}
#app-main #cards .card .card_10 {
  background-position: top 0px left -1080px;
}
#app-main #cards .card .card_11 {
  background-position: top 0px left -1188px;
}
#app-main #cards .card .card_12 {
  background-position: top 0px left -1296px;
}
#app-main #cards .card .card_13 {
  background-position: top 0px left -1404px;
}
#app-main #cards .card .card_14 {
  background-position: top 0px left -108px;
}
#app-main #cards .card .back {
  position: absolute;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 110px;
  height: 160px;
  border: 1px solid #dddddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: #2c458a url("img/shutthebox/cardback.jpg") no-repeat top 0px left 0px;
  background-size: auto 100%;
  color: rgba(0, 0, 0, 0);
  transform: rotateY(-180deg);
  -webkit-transform: rotateY(-180deg);
  z-index: 1;
}
#app-main #cards .selected {
  box-shadow: 5px 10px 10px rgba(0, 255, 0, 0.7);
  -moz-box-shadow: 5px 10px 10px rgba(0, 255, 0, 0.7);
  -webkit-box-shadow: 5px 10px 10px rgba(0, 255, 0, 0.7);
}
#app-main #cards .used .face {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#app-main #cards .used .back {
  transition: 0.6s;
  -webkit-transition: 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  transform: rotateY(0deg);
  -webkit-transform: rotateY(0deg);
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}
#app-main #cards .used:hover {
  box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.38);
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.38);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, 0.38);
  cursor: no-drop;
}
#app-main #dice {
  text-align: right;
  margin-right: 20px;
  margin-top: 20px;
}
#app-main #dice .dicetotal {
  font-size: 7em;
}
#app-main #dice > div {
  display: inline-block;
  vertical-align: top;
}
#app-main #dice .dice {
  color: rgba(0, 0, 0, 0);
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  padding: 5px;
  width: 100px;
  height: 100px;
  border: 1px solid rgba(0, 0, 0, 0);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  background: url("img/shutthebox/dice.png") no-repeat top 0px left 0px;
  background-size: auto 100%;
}
#app-main #dice .dice_2 {
  background-position: top 0px left -98px;
}
#app-main #dice .dice_3 {
  background-position: top 0px left -196px;
}
#app-main #dice .dice_4 {
  background-position: top 0px left -294px;
}
#app-main #dice .dice_5 {
  background-position: top 0px left -392px;
}
#app-main #dice .dice_6 {
  background-position: top 0px left -490px;
}
#debug {
  display: none !important;
}
