/*!Last Updated: 1/15/14:4:24 PM by Jonathan Robles*/

/*!***********************************************/
/*!                                              */
/*! slideshow_promo LESS/CSS File                   */
/*! Start Date: 1/15/14 : 4:24 PM                */
/*!                                              */
/*!***********************************************/

/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT END

//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@app_bg: #ededed;
@app_width: 630px;
@app_height: 625px;

@zindex_L: 1;
@zindex_M: 2;
@zindex_H: 3;

@images-url: "img/";
//usage: @{images-url}
@sprite_x_offset: -100px;
@sprite_y_offset: -100px;

@highlight:#f00;
//IMPORTS
@import "../css/globalCSS.less";
//imported superjonbot mixins, usage: #sjbm > .xxx;
.disable{
  #sjbm >.disablethis;
}

.select{
  #sjbm >.selectthis;
}

ol,ul,li{
  margin:0px;
  padding:0px;
}
//BEGIN CSS

body,html {
  overflow:hidden;
  width:100%;
  height:100%;
  margin:0;
}

#emailblock{
  position:absolute;
  z-index: @zindex_H;
  top:0px;
  bottom:0px;
  right:0px;
  left:0px;
  background-color: rgba(0, 0, 0, 0.77);
  >div{
    margin-left: auto;
    margin-right: auto;


    #sjbm > .boxthis(320px,320px,0px,0px,0px,#ddd);
    #sjbm >.boxthis(320px,350px,10px,20px,1px,#666);
    padding-top: 2px;
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:50%;
    margin-top:-150px;
    background-color: #bbb;
    >input{
      display:block;
    }
    >button{
      display:block;
    }
  }
}

#app-main {
  #sjbm >.accel();
  //transition-duration: .2s;
  #sjbm > .showthis;
  font: @global_font;
  font-weight: 300;
  z-index: @zindex_M;

  position:absolute;
  top:10%;
  bottom:10%;
  left:10%;
  right:10%;


  .presentation_layer{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: @zindex_M;


    .topnav{
      position:absolute;
      z-index: @zindex_H;
      top:0px;
      height:40px;
      left:0px;
      right:0px;
      background-color: rgba(202, 202, 202, 0.68);
      padding: 0px;
      margin: 0px;
      text-align: center;
      //font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande";
      font-size: 22px;
      line-height: 24px;
      span{
        position: relative;
        top: 6px;
      }
      .menu_icon{
        width:40px;
        height:40px;
        background: rgba(0, 0, 0, .0) url(img/misc/mockupicons.png) repeat -895px -488px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        float:left;
        margin-left: 10px;
      }
      .share_icon{
        width:40px;
        height:40px;
        background: rgba(0, 0, 0, .0) url(img/misc/mockupicons.png) repeat -990px -708px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        float:left;
        margin-left: 10px;
      }
      .close_icon{
        width:40px;
        height:40px;
        background: rgba(0, 0, 0, .0) url(img/misc/mockupicons.png) repeat -710px -706px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        float:right;
        margin-right: 10px;
      }
      .fullscreen_icon{
        width:40px;
        height:40px;
        background: rgba(0, 0, 0, .0) url(img/misc/mockupicons.png) repeat -424px -596px;
        border: 0px;
        padding: 0px;
        margin: 0px;
        float:right;
        margin-right: 10px;
      }
    }


    .prev{
      position:absolute;
      z-index: @zindex_H;
      top:50%;
      left:0px;
      #sjbm > .halCircleRight (100px,0px,#000);
      background: rgba(202, 202, 202, 0.68) url('flexibleregulatory/left-arrow.png') no-repeat center left;
    }
    .next{
      position:absolute;
      z-index: @zindex_H;
      top:50%;
      right:0px;
      #sjbm > .halCircleLeft (100px,0px,#000);
      background: rgba(202, 202, 202, 0.68) url('flexibleregulatory/right-arrow.png') no-repeat center right;
    }

    #slidebox{
      #sjbm >.accel();
      z-index: @zindex_L;
      #sjbm > .transform-style('flat');
      #sjbm > .boxsize();
      #sjbm > .boxthis(100%,100%,0px,0px,0px,#ddd);
      position: relative;
      background-color: #ffffff;
      padding: 15px;

      overflow-x: hidden;
      overflow-y: hidden;
      white-space: nowrap;
      float:left;


      >div {
        #sjbm >.accel();
        position: relative;
        display: inline-block;
        white-space: normal;

        font-weight: bold;
        font-size: 14px;
        overflow: hidden;


        #sjbm > .boxthis(100%,100%,0px,5px);

        .checkbox, .radio {
          width: 25px;
          height: 25px;

        }

         border: 0px solid #000000;
         padding: 0 0 0 0;

        .panel_TL_50{
          background-color: #ffffff;
          float:left;
          display: absolute;
          #sjbm > .boxthis(50%,100%,0px,5px);
          border: 0px;
          overflow-y: scroll; /* has to be scroll, not auto */
          -webkit-overflow-scrolling: touch;
        }

        .panel_BR_50{
          background-color: #ccc;
          float:right;
          display: absolute;
          #sjbm > .boxthis(50%,100%,0px,5px);
          border: 0px;


          .image {
            width:100%;
            height:100%;
            background-color: #282828;
            background-repeat:no-repeat;
            background-size: auto 100%;
            top:auto;
            bottom:auto;
            left:auto;
            right:auto;
          }



        }




        &:first-child{


          margin-left: 400px;


        }

        &:last-child{

          margin-right: 400px;

        }

      }
    }
  }

  .menu_layer{
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    //height:50px;
    z-index: @zindex_L;
    background-color: #242424;
    color: #cacaca;
    font-size: 18px;
    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
    a{
      text-decoration: none;
      color: inherit;

    }
    p{
      font:@global_boldfont;
      font-weight: bold;
      font-size: 14px;
      padding-left: 10px;
      border-bottom: 2px solid #000;
      padding-bottom: 7px;
      padding-top: 7px;
      margin: 0px;
    }

    li{

      border-bottom: 1px solid #000;
      padding-bottom: 10px;
      padding-top: 10px;
      padding-left: 10px;
      &.splitbar{
        background-color: #303030;
        height:7px;
      }
    }
  }




  .share{
    // #sjbm >.hidethis;
    position:absolute;
    z-index: @zindex_H;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.77);
    >div{
      //overflow: hidden;
      #sjbm >.boxthis(320px,350px,10px,20px,1px,#666);
      padding-top: 2px;
      position:absolute;
      left:50%;
      margin-left:-150px;
      top:50%;
      margin-top:-150px;
      background-color: #bbb;
      >p{
        font:@global_boldfont;
        font-weight: bold;
        font-size: 15px;
        color: #ffffff;
        margin-bottom: 15px;
      }
      >button{
        #sjbm >.quickbutton(12px);
        margin-top: 2px;
        display:block;
        width:100%;
      }
    }
  }

  .popper{
    overflow: hidden;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color: rgba(0, 0, 0, 0.90);
    z-index: @zindex_H;
    .popper_Close{
      position:relative;
      z-index: @zindex_H !important;
      float:right;
       color:#fff;
      font-size: 20px !important;
      font:@global_boldfont;
      font-weight: bold;
      //background-color: rgba(255, 255, 255, 0.7);
      height:40px;
      width:60px;
    }
    .popper_Content{
      #sjbm >.accel();
      z-index: @zindex_L !important;
      position:absolute;
      top:0px;
      bottom:0px;
      left:0px;
      right:0px;
    }
  }


  .thumbs{

    position:absolute;
    z-index: @zindex_H;
    top:0px;
    bottom:0px;
    right:0px;
    left:0px;
    background-color: rgba(0, 0, 0, 0.38);
    .thumb_Close{
      position:relative;
      z-index: @zindex_H !important;
      float:right;
      color:#fff;
      font-size: 20px !important;
      font:@global_boldfont;
      font-weight: bold;
      //background-color: rgba(255, 255, 255, 0.7);
      height:40px;
      width:60px;
    }
    .thumb_Content{
      #sjbm >.accel();
      z-index: @zindex_L !important;
      position:absolute;
      top:20px;
      bottom:20px;
      left:20px;
      right:20px;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.38);
      >div.image{
        position:relative;
        #sjbm > .boxthis(33%,33%,0px,0px,0px,#ddd);
        float:left;
        background-size: 100% auto;
      }

    }
  }

/**/
    .slidingscrollbox{
    margin-top:45%;
      height: 400px;
      transition-duration: 1s;
      -webkit-transition-duration: 1s;
    position:relative;
    z-index: @zindex_H !important;
    background-color: rgba(255, 255, 255, 0.22);
    //height: 400px;
    //overflow:hidden;
    .togglebutton{
      transition-duration: 1s;
      margin-top: -50px;
      z-index: @zindex_H !important;
      position: absolute;
      background-color: #ff0d00;
      right:0px;
      width:60px;
      height:50px;
      font-size: 20px;

    }
    .scrollbox,.scrollboxB{
      z-index: @zindex_L !important;
      position: absolute;
      height: 400px;
      overflow: hidden;
      overflow-y: scroll;
      -webkit-overflow-scrolling: touch;
      background-color: rgba(255, 255, 255, 0.78);
    }
  }
  .isopened{
    margin-top:5%;
    transition-duration: 1s;
    -webkit-transition-duration: 1s;
    .togglebutton{
      margin-top: 0px;
      background-color: #14ff11;
      transition-duration: 1s;
    }
  }



  .image {
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-repeat:no-repeat;
    background-size: auto 100%;
  }

  .fullimage {
    .image;
    background-size: 100% auto;
  }

  .image0{
    background-image: url('img/misc/pills.jpg');
  }

  .image1{
    background-image: url('http://img.medscape.com/pi/features/slideshow-slide/ash2013/fig2.jpg');
  }

  .image2{
    background-image: url('http://img.medscape.com/pi/features/slideshow-slide/ash2013/fig3.jpg');
  }
  .image3{
    background-image: url('http://img.medscape.com/pi/features/slideshow-slide/tct2013/fig9.jpg');
  }
  .image4{
    background-image: url('http://img.medscape.com/pi/features/slideshow-slide/sabcs2013/fig10.jpg');
  }
  .image5{
    background-image: url('http://img.medscape.com/pi/features/slideshow-slide/hrs2012/fig9.jpg');
  }
  .image6{
    background-image: url('http://img.medscape.com/pi/features/slideshow-slide/ash2013/fig8.jpg');
  }

}

.hideapp{
  transition-duration: .2s;
  opacity: 0;
}

#debug {
  #sjbm > .hidethis;
}

.hiddenISI,.hidethis{
  #sjbm >.hidethis;
}


.portrait{
  #app-main {
    .presentation_layer{
      #slidebox{
        >div{
         // float:none;
         // clear:both;
         // overflow: auto;
          .panel_TL_50{
            height:50%;
            width:auto;

            float:none;
            top:0px;
            bottom:50%;
            left:0px;
            right:0px;
            border: 1px;
          }
          .panel_BR_50{
            height:50%;
            width:auto;

            float:none;
            top:50%;
            bottom:0px;
            left:0px;
            right:0px;
            //border: 1px;
            .image{
            background-size: 100% auto !important;
            }









          }
        }
      }
    }
    .thumbs{


      .thumb_Content{

        >div.image{

          background-size: auto 100%;
        }

      }
    }
    .image {
      background-size: 100% auto;
    }

    .fullimage {
      .image;
      background-size: auto 100%;
    }

  }



}
.landscape{}
//mobile/tablet specific
.touch {
  #app-main {
  }
}

//desktop specific
.no-touch {
  #app-main {
  }
}

//oldIE
.oldie {
  #app-main {
  }
}


.fullscreen {

  #app-main{

    //transition-duration: 1s;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    .presentation_layer{
      .topnav{
        .fullscreen_icon{

          background: rgba(0, 0, 0, .0) url(img/misc/mockupicons.png) repeat -1084px -815px;

        }

    }
  }
}
}

//END LESS CSS

