/*!Last Updated: 12/9/13:12:38 PM by Jonathan Robles*/

/*!***********************************************/
/*!                                              */
/*! slideset LESS/CSS File                   */
/*! Start Date: 12/9/13 : 12:38 PM                */
/*!                                              */
/*!***********************************************/

/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT END

//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@app_bg: #ededed;
@app_width: 630px;
@app_height: 625px;

@zindex_L: 0;
@zindex_M: 500;
@zindex_H: 1000;

@images-url: "img/";
//usage: @{images-url}
@sprite_x_offset: -100px;
@sprite_y_offset: -100px;

//IMPORTS
@import "../css/globalCSS.less";
//imported superjonbot mixins, usage: #sjbm > .xxx;

//BEGIN CSS
#app-main {
  #sjbm > .showthis;
  font: @global_font;
  font-weight: 300;
  z-index: @zindex_M;

  #yourdiv{

    #sjbm > .transform-style('flat');

    >div {
      font-weight: bold;
      font-size: 14px;
      margin-left:-250px;
      left: 50%;
      position: absolute;
      #sjbm > .boxthis;

      .loader{
        position:absolute;
      left:205px;
        top:165px;
        font-size: 12em;
        #sjbm > .spinner;
      }

      &:nth-child(1){
        background-color: #fffd55;
      }
      &:nth-child(2){
        background-color: #51de4a;
      }
      &:nth-child(3){
        background-color: #4a8bdd;
      }
      &:nth-child(4){
        background-color: #a74add;
      }
      &:nth-child(5){
        background-color: #fd5458;
      }
      &:nth-child(6){
        background-color: #ffb955;
      }
      &:nth-child(7){
        background-color: #5c4add;
      }
    }
  }
}

#debug {
  #sjbm > .hidethis;
}

//mobile/tablet specific
.touch {
  #app-main {
  }
}

//desktop specific
.no-touch {
  #app-main {
  }
}

//oldIE
.oldie {
  #app-main {
  }
}

//END CSS