/*!Last Updated: 12/21/13:1:22 PM by Jonathan Robles*/

/*!***********************************************/
/*!                                              */
/*! swipeset LESS/CSS File                   */
/*! Start Date: 12/21/13 : 1:22 PM                */
/*!                                              */
/*!***********************************************/

/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'), url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'), url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'), url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'), url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'), url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

//FONT END

//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@app_bg: #ededed;
@app_width: 630px;
@app_height: 625px;

@zindex_L: 1;
@zindex_M: 2;
@zindex_H: 3;

@images-url: "img/";
//usage: @{images-url}
@sprite_x_offset: -100px;
@sprite_y_offset: -100px;

//IMPORTS
@import "../css/globalCSS.less";
//imported superjonbot mixins, usage: #sjbm > .xxx;

//BEGIN CSS
#app-main {

  #sjbm > .showthis;
  font: @global_font;
  font-weight: 300;
  z-index: @zindex_M;




  #yourdiv_X,#yourdiv_Y,#yourdiv_YB{

    #sjbm > .transform-style('flat');
    #sjbm > .boxsize();
    #sjbm > .boxthis(500px,500px,20px,10px,4px,#ddd);
    position: relative;
    background-color: #eee;
    padding: 30px;

    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    float:left;

    >div {
      position: relative;
      display: inline-block;
      white-space: normal;

      font-weight: bold;
      font-size: 14px;

      #sjbm > .boxthis(100%,100%);

     /* .loader{
        position:absolute;
        left:205px;
        top:165px;
        font-size: 12em;
        #sjbm > .spinner;
      }*/

      &:nth-child(1){
        background-color: #fffd55;
        margin-left: 400px;
      }
      &:nth-child(2){
        background-color: #51de4a;
      }
      &:nth-child(3){
        background-color: #4a8bdd;
      }
      &:nth-child(4){
        background-color: #a74add;
      }
      &:nth-child(5){
        background-color: #fd5458;
      }
      &:nth-child(6){
        background-color: #ffb955;
        margin-right: 400px;
      }

    }
  }

  #yourdiv_Y{

    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    >div {
      display:block;
      &:nth-child(1){
        background-color: #fffd55;
        margin-left: 0px;
        margin-top: 400px;
      }
      &:nth-child(6){
        background-color: #ffb955;
        margin-right: 0px;
        margin-bottom: 400px;
      }
    }
  }

  #yourdiv_YB{
    overflow-x: hidden;
    overflow-y: scroll;
    white-space: normal;
    font-size: 18px;
  }

}

#debug {
 // #sjbm > .hidethis;
}

//mobile/tablet specific
.touch {
  #app-main {
  }
}

//desktop specific
.no-touch {
  #app-main {
  }
}

//oldIE
.oldie {
  #app-main {
  }
}

//END CSS