/*!Last Updated: ${DATE}:${TIME} by Jonathan Robles*/

/*!***********************************************/
/*!                                              */
/*! ${FILE_NAME} LESS/CSS File                   */
/*! Start Date: ${DATE} : ${TIME}                */
/*!                                              */
/*!***********************************************/


/*FONT START*/
/*Regular*/
@font-face {
  font-family: 'proxima_nova_rgregular';
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot');
  src: url('fonts/proximanova/reg/ProximaNova-Reg-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/reg/ProximaNova-Reg-webfont.svg#proxima_nova_rgregular') format('svg'),  url('fonts/proximanova/reg/ProximaNova-Reg-webfont.woff') format('woff'),  url('fonts/proximanova/reg/ProximaNova-Reg-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Semibold*/
@font-face {
  font-family: 'proxima_nova_ltsemibold';
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot');
  src: url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.svg#proxima_nova_ltsemibold') format('svg'),  url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.woff') format('woff'),  url('fonts/proximanova/semibold/ProximaNova-Sbold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Bold*/
@font-face {
  font-family: 'proxima_nova_rgbold';
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot');
  src: url('fonts/proximanova/bold/ProximaNova-Bold-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/bold/ProximaNova-Bold-webfont.svg#proxima_nova_rgbold') format('svg'),  url('fonts/proximanova/bold/ProximaNova-Bold-webfont.woff') format('woff'),  url('fonts/proximanova/bold/ProximaNova-Bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/*Light*/
@font-face {
  font-family: 'proxima_nova_ltlight';
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot');
  src: url('fonts/proximanova/light/ProximaNova-Light-webfont.eot?#iefix') format('embedded-opentype'),  url('fonts/proximanova/light/ProximaNova-Light-webfont.svg#proxima_nova_ltlight') format('svg'),  url('fonts/proximanova/light/ProximaNova-Light-webfont.woff') format('woff'),  url('fonts/proximanova/light/ProximaNova-Light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
//FONT END




//GLOBAL VARS
@global_bg: #fff;
@global_font: normal 14px "proxima_nova_rgregular","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
@global_boldfont: bold 14px "proxima_nova_ltsemibold","HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

@app_bg: #ededed;
@app_width: 630px;
@app_height: 625px;

@zindex_L:1;
@zindex_M:2;
@zindex_H:3;

@images-url: "img/";  //usage: @{images-url}
@sprite_x_offset:-100px;
@sprite_y_offset:-100px;

//IMPORTS
@import "../css/globalCSS.less";     //imported superjonbot mixins, usage: #sjbm > .xxx;

//BEGIN CSS
#app-main{
  #sjbm > .showthis;
  font: @global_font;
  font-weight: 300;
  z-index:@zindex_M;
}
#debug{
  #sjbm > .hidethis;
}

//mobile/tablet specific
.touch{
  #app-main{}
}
//desktop specific
.no-touch{
  #app-main{}
}
//oldIE
.oldie {
  #app-main{}
}


//END CSS